@model LibraryManagementUICore.Models.BorrowHistory

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BorrowHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BorrowHistoryId" />
            @Html.HiddenFor(model => model.BookId)
            @Html.HiddenFor(model => model.BorrowDate)
            @Html.HiddenFor(model => model.CustomerId)

            <div class="form-group">
                <p>
                    @string.Format("You are about to return {0} booked by {1} on {2}",
             Model.book.Title, Model.customer.Name, Model.BorrowDate.ToLongDateString())
                </p>
            </div>
            <div class="form-group">
                <input type="submit" value="Return" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
